/* .container{
border: 2px solid green;
padding: 2px;border-radius: 30px;
justify-content: space-between;
align-items: center;
position: relative;

}
.icon{
font-style: 18px;
}
.switcher{
   width: 25px;
   aspect-ratio: 1/1;
   background-color: goldenrod;
   border-radius: 50%;
   position: absolute;
   curser:pointer;
} */